

* {
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p {
    color: green;
}

div {

    margin: 1rem;
}

#primeira-div {
    color: white;
    background: red;
    padding: 1rem;
}

.item {

    color: yellow;
    background: pink;
    padding: 1rem;
    width: 6rem;
    border-radius: 1rem;

}

img {
    width: 100%;
}

.container {
    border: 1px solid gray;
    box-shadow: .3rem .3rem .2rem .1rem gray;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

